# 1.Import Package

In [1]:
import mysql.connector
import pandas as pd
import numpy as np

# 2. Connect ke SQL

In [2]:
con = mysql.connector.connect(
    host='localhost',
    user='root',
    passwd='8706419235'
)

In [3]:
c = con.cursor(buffered=True)
query = 'SHOW databases'
c.execute(query)
c

In [4]:
c.fetchall()

[('belajar_mysql',),
 ('information_schema',),
 ('iykra',),
 ('iykra_2',),
 ('iykra_3',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('wo',),
 ('wor',),
 ('world',)]

## 2.1 Memilih database yang akan digunakan

In [5]:
query = 'USE iykra_3'
c.execute(query)

## 2.2 Memilih table

In [6]:
query = 'SHOW tables'
c.execute(query)
c.fetchall()

[('sales',)]

## 2.3 Input Data ke table

In [7]:
q = "INSERT INTO sales (date_, sales) \
values ('2021-01-02',34)"
c.execute(q)

In [9]:
q = "INSERT INTO sales (date_, sales) \
values ('2021-01-02',123)"
c.execute(q)

In [11]:
q = "INSERT INTO sales (date_, sales) \
values ('2021-01-01',100)"
c.execute(q)

In [12]:
q = "INSERT INTO sales (date_, sales) \
values ('2021-01-02',134)"
c.execute(q)

In [13]:
q = "INSERT INTO sales (date_, sales) \
values ('2021-01-03',145)"
c.execute(q)

In [14]:
q = "INSERT INTO sales (date_, sales) \
values ('2021-01-03',24)"
c.execute(q)

In [15]:
q = "INSERT INTO sales (date_, sales) \
values ('2021-01-04',541)"
c.execute(q)

In [16]:
q = "INSERT INTO sales (date_, sales) \
values ('2021-01-04',636)"
c.execute(q)

In [17]:
q = "INSERT INTO sales (date_, sales) \
values ('2021-01-05',322)"
c.execute(q)

In [18]:
q = "INSERT INTO sales (date_, sales) \
values ('2021-01-06',242)"
c.execute(q)

In [19]:
q = "INSERT INTO sales (date_, sales) \
values ('2021-01-07',22)"
c.execute(q)

In [20]:
q = "INSERT INTO sales (date_, sales) \
values ('2021-01-08',46)"
c.execute(q)

In [21]:
con.commit()

## 2.4 Melihat isi table dengan DataFrame

In [22]:
query = 'SELECT * FROM sales'
c.execute(query)
res = c.fetchall()
cols = c.column_names

# bikin DF
customer_df = pd.DataFrame(res, columns = cols)
customer_df

         date_  sales
0   2021-01-02   34.0
1   2021-01-02  123.0
2   2021-01-01  100.0
3   2021-01-02  134.0
4   2021-01-03  145.0
5   2021-01-03   24.0
6   2021-01-04  541.0
7   2021-01-04  636.0
8   2021-01-05  322.0
9   2021-01-06  242.0
10  2021-01-07   22.0
11  2021-01-08   46.0

## 2.5 Melakukan Query sesuai yang diinginkan soal

In [23]:
query = "select date_,sum(sales) from sales group by date_"
c.execute(query)
res = c.fetchall()
cols = c.column_names

# Bikin DF
customer_df = pd.DataFrame(res, columns=cols)
display(customer_df)  # checking

        date_  sum(sales)
0  2021-01-02       291.0
1  2021-01-01       100.0
2  2021-01-03       169.0
3  2021-01-04      1177.0
4  2021-01-05       322.0
5  2021-01-06       242.0
6  2021-01-07        22.0
7  2021-01-08        46.0