# 1. Import Package

In [1]:
import requests
import pandas as pd

# 2. Load file json

In [2]:
url = 'https://raw.githubusercontent.com/ramzymohammad/Practice-case-python-Data-Fellowship-Iykra/main/member.txt'
users = requests.get(url)
users_json = users.json()
users_json

{'member': [{'user': {'id': 1, 'name': 'agus', 'email': 'agus@example.com'},
   'txs': [{'id': 1,
     'tx_date': '2020-01-01',
     'tx_amount': 10,
     'tx_type': 'buy'},
    {'id': 3, 'tx_date': '2020-02-01', 'tx_amount': 10, 'tx_type': 'buy'},
    {'id': 5, 'tx_date': '2020-03-01', 'tx_amount': 20, 'tx_type': 'sell'}]},
  {'user': {'id': 2, 'name': 'asep', 'email': 'asep@example.com'},
   'txs': [{'id': 2,
     'tx_date': '2020-01-01',
     'tx_amount': 10,
     'tx_type': 'sell'},
    {'id': 4, 'tx_date': '2020-02-01', 'tx_amount': 10, 'tx_type': 'sell'},
    {'id': 6, 'tx_date': '2020-03-01', 'tx_amount': 20, 'tx_type': 'buy'}]}]}

In [3]:
users_json = users_json['member']

In [4]:
users_json

[{'user': {'id': 1, 'name': 'agus', 'email': 'agus@example.com'},
  'txs': [{'id': 1,
    'tx_date': '2020-01-01',
    'tx_amount': 10,
    'tx_type': 'buy'},
   {'id': 3, 'tx_date': '2020-02-01', 'tx_amount': 10, 'tx_type': 'buy'},
   {'id': 5, 'tx_date': '2020-03-01', 'tx_amount': 20, 'tx_type': 'sell'}]},
 {'user': {'id': 2, 'name': 'asep', 'email': 'asep@example.com'},
  'txs': [{'id': 2,
    'tx_date': '2020-01-01',
    'tx_amount': 10,
    'tx_type': 'sell'},
   {'id': 4, 'tx_date': '2020-02-01', 'tx_amount': 10, 'tx_type': 'sell'},
   {'id': 6, 'tx_date': '2020-03-01', 'tx_amount': 20, 'tx_type': 'buy'}]}]

# 3. Diubah menjadi DataFrame

In [5]:
users_df = pd.DataFrame(users_json)
users_df

,user,txs
0,"{'id': 1, 'name': 'agus', 'email': 'agus@examp...","[{'id': 1, 'tx_date': '2020-01-01', 'tx_amount..."
1,"{'id': 2, 'name': 'asep', 'email': 'asep@examp...","[{'id': 2, 'tx_date': '2020-01-01', 'tx_amount..."

# Nomer a

In [6]:
user_id = []
tx_id = []
for l in range(len(users_df['user'])):
    panjang = len(users_df['txs'][l])
    for m in range(panjang):
#         for k in users_df['txs'][l][m]['id']:
            tx_id.append(users_df['txs'][l][m]['id'])
#             for z in users_df['user'][l]['id']:
            user_id.append(users_df['user'][l]['id'])

In [8]:
data = {'User_id': user_id, 'tx_id': tx_id}
df = pd.DataFrame(data)
df

   User_id  tx_id
0        1      1
1        1      3
2        1      5
3        2      2
4        2      4
5        2      6

In [63]:
df.to_csv('file1.csv')

# Nomer b

In [26]:
user_id = []
name = []
email = []
for l in range(len(users_df['user'])):
   user_id.append(users_df['user'][l]['id'])

for l in range(len(users_df['user'])):
   name.append(users_df['user'][l]['name'])

for l in range(len(users_df['user'])):
   email.append(users_df['user'][l]['email'])

In [32]:
data_2 = {'User_id': user_id, 'name': name, 'email':email}
df_2 = pd.DataFrame(data_2)
df_2

   User_id  name             email
0        1  agus  agus@example.com
1        2  asep  asep@example.com

In [64]:
df_2.to_csv('file2.csv')

# Nomer c

In [47]:
df3 = pd.DataFrame(users_df['txs'][0])

In [48]:
df3

   id     tx_date  tx_amount tx_type
0   1  2020-01-01         10     buy
1   3  2020-02-01         10     buy
2   5  2020-03-01         20    sell

In [49]:
df4 = pd.DataFrame(users_df['txs'][1])
df4

   id     tx_date  tx_amount tx_type
0   2  2020-01-01         10    sell
1   4  2020-02-01         10    sell
2   6  2020-03-01         20     buy

In [55]:
df5 = df3.append(df4)
df5.sort_values(by=['id'], inplace=True)

In [59]:
df5.reset_index(inplace=True)

In [61]:
df5

   index  id     tx_date  tx_amount tx_type
0      0   1  2020-01-01         10     buy
1      0   2  2020-01-01         10    sell
2      1   3  2020-02-01         10     buy
3      1   4  2020-02-01         10    sell
4      2   5  2020-03-01         20    sell
5      2   6  2020-03-01         20     buy

In [65]:
df5.to_csv('file3.csv')