# Import package

In [1]:
import mysql.connector
import pandas as pd
import numpy as np

# Connect ke SQL

In [2]:
con = mysql.connector.connect(
    host='localhost',
    user='root',
    passwd='8706419235'
)

In [3]:
c = con.cursor(buffered=True)
query = 'SHOW databases'
c.execute(query)
c

# Memilih database

In [4]:
c.fetchall()

[('belajar_mysql',),
 ('information_schema',),
 ('iykra',),
 ('iykra_2',),
 ('iykra_3',),
 ('iykra_4',),
 ('iykra_5',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('wo',),
 ('wor',),
 ('world',)]

In [5]:
query = 'USE iykra_5'
c.execute(query)

In [6]:
query = 'SHOW tables'
c.execute(query)
c.fetchall()

[('transactions',)]

# Input Data

In [9]:
q = "INSERT INTO transactions (id, insert_time, tx_amount, tx_type, status_) \
values (1, '2021-03-02 10:30:30', 100, 'buy', 'close')"
c.execute(q)

In [11]:
q = "INSERT INTO transactions (id, insert_time, tx_amount, tx_type, status_) \
values (2, '2021-03-02 10:35:30', 100, 'sell', 'open')"
c.execute(q)

In [12]:
q = "INSERT INTO transactions (id, insert_time, tx_amount, tx_type, status_) \
values (3, '2021-03-02 14:30:30', 10, 'buy', 'close')"
c.execute(q)

In [13]:
q = "INSERT INTO transactions (id, insert_time, tx_amount, tx_type, status_) \
values (4, '2021-03-02 13:30:30', 1, 'sell', 'open')"
c.execute(q)

In [14]:
con.commit()

In [15]:
query = 'SELECT * FROM transactions'
c.execute(query)
res = c.fetchall()
cols = c.column_names

# bikin DF
customer_df = pd.DataFrame(res, columns = cols)
customer_df

   id         insert_time  tx_amount tx_type status_
0   1 2021-03-02 10:30:30      100.0     buy   close
1   2 2021-03-02 10:35:30      100.0    sell    open
2   3 2021-03-02 14:30:30       10.0     buy   close
3   4 2021-03-02 13:30:30        1.0    sell    open

#### Terjadi perubahan/transaksi yang dilakukan oleh user_id

In [16]:
q = "INSERT INTO transactions (id, insert_time, tx_amount, tx_type, status_) \
values (1, '2021-03-02 14:30:30', 150, 'buy', 'open')"
c.execute(q)

In [17]:
q = "INSERT INTO transactions (id, insert_time, tx_amount, tx_type, status_) \
values (4, '2021-03-02 14:30:30', 100, 'sell', 'close')"
c.execute(q)

In [18]:
q = "INSERT INTO transactions (id, insert_time, tx_amount, tx_type, status_) \
values (3, '2021-03-02 15:00:00', 200, 'sell', 'close')"
c.execute(q)

In [19]:
q = "INSERT INTO transactions (id, insert_time, tx_amount, tx_type, status_) \
values (2, '2021-03-02 13:30:30', 40, 'buy', 'open')"
c.execute(q)

In [20]:
con.commit()

In [21]:
query = 'SELECT * FROM transactions'
c.execute(query)
res = c.fetchall()
cols = c.column_names

# bikin DF
customer_df = pd.DataFrame(res, columns = cols)
customer_df

   id         insert_time  tx_amount tx_type status_
0   1 2021-03-02 10:30:30      100.0     buy   close
1   2 2021-03-02 10:35:30      100.0    sell    open
2   3 2021-03-02 14:30:30       10.0     buy   close
3   4 2021-03-02 13:30:30        1.0    sell    open
4   1 2021-03-02 14:30:30      150.0     buy    open
5   4 2021-03-02 14:30:30      100.0    sell   close
6   3 2021-03-02 15:00:00      200.0    sell   close
7   2 2021-03-02 13:30:30       40.0     buy    open

# Maka kita melakukan update pada data di atas

In [22]:
query = 'SELECT tt.* FROM transactions tt INNER JOIN (SELECT id, MAX(insert_time) AS MaxDateTime FROM transactions GROUP BY id) groupedtt  ON tt.id = groupedtt.id  AND tt.insert_time = groupedtt.MaxDateTime'
c.execute(query)
res = c.fetchall()
cols = c.column_names

# bikin DF
customer_df = pd.DataFrame(res, columns = cols)
customer_df

   id         insert_time  tx_amount tx_type status_
0   1 2021-03-02 14:30:30      150.0     buy    open
1   4 2021-03-02 14:30:30      100.0    sell   close
2   3 2021-03-02 15:00:00      200.0    sell   close
3   2 2021-03-02 13:30:30       40.0     buy    open